<!-- _form.html.erb -->
<%= simple_form_for [@planet, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker", id: "end_date"} %>
    <%= f.input :guests, :label => "Number of guests", :collection => (1..@planet.capacity), :selected => 1 %>
  </div>

  <div class="form-actions btn-center">
    <%= f.submit "Book", class: "btn btn-danger btn-block test" %>
  </div>
<% end %>
