<div class="container">
  <h1><%= @booking.planet.name %></h1>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :stars, collection: 1..5 %>
    <%= f.submit "Add review", class: "btn btn-danger" %>
  <% end %>
  <p><%= link_to "Back to your Bookings", bookings_path %></p>
</div>
